<h1><%= @user.name %>様</h1> 
<p>=====================================</p>

<p>パスワード再発行のご依頼を受け付けました。</p><br>

<p>こちらのリンクからパスワードの再発行を行ってください。</p>

<p><a href="<%= @url %>"><%= @url %></a></p>

<p>--------------------------------------</p>

<p>Nemo運営</p>
<p>【お問い合せ先】</p>
<div>
    <p>メールアドレス<br>nemo.fashionsite2022@gmail.com</p>
</div>
<div>
    <p>Instagram<br>https://www.instagram.com/nemo.fashionsite/</p>
</div>
