<div class="bifurcation">
    <div class="gretel">
        <% breadcrumb :acounts %>
        <%= breadcrumbs separator: " > " , class: :logo %>
    </div>
    <div class="accout_button">
        <%= button_to (t'.new_account'), new_general_path, method: :get, class:'button' %>
        <%= button_to (t'.new_brand_account'), new_owner_path, method: :get, class:'button'  %>
    </div>
</div>
